* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 600px;
}

#root {
  max-width: 1280px;
  text-align: center;
}

.header {
  color: #FFF;
  font-weight: bold;
  text-align: left;
  font-size: 24px;
  padding: 0 20px;
}